saves/
logs/
crash-reports/
xaero/
screenshots/
schematics/
usercache.json
usernamecache.json
modernfix/
usercache.json
usernamecache.json
JAE.jar
JAE.json
natives
XaeroWaypoints_BACKUP240807
fabricloader.log
voicechat_recordings